<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🍽️ RE-MIN</title>
    <!-- 어떤거? -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="./main.css" />
    <link rel="stylesheet" href="./modal.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        function listing() {
            fetch('/main').then((res) => res.json()).then((data) => {
                let rows = data['result']
                $('#colums').empty()
                rows.forEach((a) => {
                    let image = a['image']
                    let name = a['name']
                    let star = a['star']
                    let comment = a['comment']

                    let star_repeat = '⭐'.repeat(star)

                    let temp_html = `<figure>
                                        <img src=${image}>
                                        <p>${name}
                                        <p>${star_repeat}</p>
                                        <figcaption>${comment}</figcaption>
                                     </figure>`
                    $('#cards-box').append(temp_html)
                });
            })

        }

        function open_modal() {
            let modal = $('.overlay');
            modal.css({
                'display': 'block',
            });
        };
        
        function close_modal() {
            let modal = $('.overlay')
            modal.css({
                'display': 'none'
            });
        };

        function posting() {
            let img = $('#img').val()
            let name = $('#name').val()
            let star = $('#star').val()
            let comment = $('#comment').val()

            let formData = new FormData();
            formData.append("img_give", img);
            formData.append("name_give", name);
            formData.append("star_give", star);
            formData.append("comment_give", comment);


            fetch('/main', { method: "POST", body: formData }).then((res) => res.json()).then((data) => {
                alert(data['msg'])
                window.location.reload()
            })
        }
    </script>
</head>

<body>
    <!-- HEADER -->
    <header>
        <div class="inner">
            <div class="logo">
                <img src="./static/logo.png" alt="" />
            </div>
        </div>
    </header>

    <!-- CONTENT -->
    <section class="inner">
        <div id="columns">
            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pocahontas_2.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/tiana.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>
        </div>
        <figure>
            <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/tiana.jpg">
            <figcaption>Tiana wearing the <i>robe de style</i> of the 1920’s</figcaption>
        </figure>
        <figure>
            <img src=${image}>
            <p>${name}
            <p>${star_repeat}</p>
            <figcaption>${comment}</figcaption>
        </figure>
        </div>

        <div class="btnarea">
            <button class="btn" onclick="open_modal()">너만의 맛집을 공유해 보아요</button>
        </div>

        <!-- Modal -->
        <div id="overlay" class="overlay">
            <div class="modal">
                <form action="#" name="share" method="post">
                    <fieldset>
                        <div class="title">
                            <p>나만의 맛집 공유하기</p>
                            <span>re_min</span>
                        </div>

                        <legend>맛집 공유하기</legend>
                        <div class="name box">
                            <label for="aname">
                                <input type="text" id="name" name="aname" maxlength="12" size="35"
                                    placeholder="맛집이름을 적어줘">
                            </label>
                        </div>

                        <div class="star box">
                            <select name="star" id="star" size="1">
                                <option value="1" selected>별점 선택하기</option>
                                <option value="1">⭐</option>
                                <option value="2">⭐⭐</option>
                                <option value="3">⭐⭐⭐</option>
                                <option value="4">⭐⭐⭐⭐</option>
                                <option value="5">⭐⭐⭐⭐⭐</option>
                            </select>
                        </div>

                        <div class="comment box">
                            <textarea name="comment" id="comment" cols="30" rows="5" placeholder="후기를 적어줘"></textarea>
                        </div>

                        <div class="image box">
                            <input type="text" id="image" name="image" maxlength="100" size="35"
                                placeholder="이미지 url을 적어줘">
                        </div>

                        <div class="btn-area">
                            <button class="submit">작성하기</button>
                            <button onclick="close_modal()">취소하기</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
</body>

</html>