<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>re-min</title>
    <link rel="icon" type="image/x-icon" href="./static/logo2.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/index.css" />

    <script src="../static/index.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="inner">
            <div class="logo">
                <img src="../static/img/logo.png" alt="" />
            </div>
        </div>
    </header>

    <!-- Content -->
    <section class="inner">
        <div id="columns">
            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/rapunzel.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/pocahontas_2.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>

            <figure>
                <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/tiana.jpg" />

                <figcaption class="name">
                    식당이름
                </figcaption>
                <figcaption class="star">
                    별점
                </figcaption>
                <figcaption class="caption">
                    설명
                </figcaption>
            </figure>
        </div>

        <!--Button-->
        <div class="btnarea">
            <button class="share">너만의 맛집을 공유해 보아요</button>
        </div>

        <!-- Modal -->
        <div id="overlay" class="share-overlay">
            <form action="#" name="share" method="post" onsubmit="">
                <fieldset>
                    <legend>맛집 공유하기</legend>

                    <div class="title">
                        <p>나만의 맛집 공유하기</p>
                        <div><img src="../static/img/logo.png" alt="logo"></div>
                    </div>

                    <table>
                        <colgroup>
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="name box">
                                    <label for="aname">
                                        <input type="text" id="aname" name="aname" maxlength="12" size="35"
                                            placeholder="맛집이름을 적어줘" autofocus required>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-star box">
                                    <select name="star" id="star" size="1">
                                        <option value="0" selected>별점 선택하기</option>
                                        <option value="1">⭐</option>
                                        <option value="2">⭐⭐</option>
                                        <option value="3">⭐⭐⭐</option>
                                        <option value="4">⭐⭐⭐⭐</option>
                                        <option value="5">⭐⭐⭐⭐⭐</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-comment box">
                                    <textarea name="comment" id="comment" cols="30" rows="5"
                                        placeholder="후기를 적어줘"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-image box">
                                    <input type="text" id="image" name="image" maxlength="100" size="35"
                                        placeholder="이미지 url을 적어줘" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="modal-pw box">
                                    <input type="password" id="pw" name="pw" maxlength="15" size="35"
                                        placeholder="비밀번호를 적어줘" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="modal-btn-area">
                        <button class="submit">작성하기</button>
                        <button class="cancel">취소하기</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
</body>

</html>